{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "space-before-function-paren": ["error", "always"],
    "brace-style": ["error", "stroustrup"],
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-restricted-syntax": 0,
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": ["error",
      {"devDependencies": ["**/*.unit.js", "**/*.e2e.js", "**/test/**"]}]
  }
}
