version: '2'
services:
  node:
    restart: always
    image: ${registryBase}/twig-api:${tag}
    ports:
      - 80:3000
    environment:
      - TWIG_API_LDAP_URL=ldap://10.10.243.55
      - TWIG_API_COUCHDB_URL=http://couchdb.riglet:5984
      - TWIG_API_LOG_CONSOLE=true
      - TWIG_API_LOG_FILE=true
      - TWIG_API_LOG_LEVEL=info
      - TWIG_API_DB_URL=http://couchdb.riglet:5984
